<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="https://thumbs.dreamstime.com/b/facepalm-fail-vector-146403714.jpg" width="50" height="50">
      <span class="ml-3 text-xl">S.TRACK</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      


        {% if not request.user.is_authenticated %}
                <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900">Sing up</a>
        {% else %}
                <a href="#" class="mr-5 hover:text-gray-900">My activities</a>
                <a href="/admin/" class="mr-5 hover:text-gray-900">Admin</a>
        {% endif %}
    </nav>

  

    {% if request.user.is_authenticated %}
      Loged in as:{{request.user.username }}
      <a href="{% url 'logout' %}" class="ml-3 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
    Log Out
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
    Log in
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</header>